doctype html  
html(lang='en')  
 head
   title Google Drive Roku Authentication
 body
   h1 Authenticaiton success!!!
   div.container
     p Authentication succeeded. Your TV app should automatically refresh soon.