footer.page-footer
    div.container
        div.row
            div(class="col s6")
                p(class="grey-text text-lighten-4") © 2020 Copyright 
            div(class="col s4 offset-s2")
                ul
                li
                    a(href="/privacy", class="grey-text text-lighten-3") Privacy
                li
                    a(href="/disclaimer", class="grey-text text-lighten-3") Disclaimer
