nav.nav-wrapper
    div.container
        a.brand-logo(href='#') Google Drive for Roku
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='https://github.com/manishrawat4u/gdroku-login') Github
            li
                a(href='/') Home
