doctype html  
html(lang='en')
  head
    title Google Drive Roku Authentication
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet") 
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification", content="WWQgd1MgIzOVknXS1nLXQE3up2rCAMPxNacL4epNlQ8")
    style
      include style.css
  body
    include header.pug
    main
      div.container
        p Welcome to home page. We do not have anything to show here right now.
    include footer.pug